/* Global Declaration */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header0fpage Starts */
.header {
  background-color: coral;
  color: white;
  padding: 10px;
  margin: 0;
}
/* Header0fpage Ends */

/* Paragraph & Icon */
.paragraph p {
  text-align: center;
}

.paragraph i {
  color: coral;
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.nav {
  background-color: black;
  text-align: center;
  width: 200px;
  position: fixed;
  display: none;
}

.nav ul {
  list-style: none;
  padding: 10px;
}

.nav span{
  color: white;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.nav li {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  float: left;
}

.nav a:hover {
  color: coral;
}

.images img{
  width: 20%;
  border: 2px solid coral;
  border-bottom-left-radius: 50%;
}