.green-background {
  background-color: green;
  border: 3px solid blue;
  font-style: italic;
  text-align: center;
  text-decoration: double;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
img {
  width: 50%;
  border: 2px solid greenyellow;
  border-radius: 20%;
}